$color-black-primary: #1b1b1b;
$color-black-secondary: #292929;

$color-white-primary: #ffffff;

$color-accent-primary: #ffa31a;

$font-primary: monospace;
$font-fallback: sans-serif;

/* 
Color Pallete:
    #ffa31a
    #1b1b1b
    #292929
    #808080
    #ffffff

    #2ecc71
    #4CAF50
    #1E8449

    #f39c12
    #FFC107
    #F1C40F

    #e74c3c
    #DC3545
    #C0392B
*/