@use "./../../styles/variables" as *;
@use "./../../styles/mixins";

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    margin-top: 6rem;
}

.card {
    padding: 1rem;
    margin: 1rem;
    border-radius: 1.5rem;
    border: 2px solid $color-white-primary;
    background-color: $color-black-secondary;
    position: relative;
}

.card:hover {
    border: 3px solid $color-accent-primary;
}

    .card img {
        height: 16rem;
        width: auto;
        object-fit: cover;
    }

    .card > p {
        text-align: justify;
    }

    .card > a {
        text-decoration: none;
        color: $color-accent-primary;
    }

    .card > a:hover {
        text-decoration: underline;
        transition: all ease-in-out 0.3s;
    }

.status {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem;
    /* opacity: 75%; */
    font-weight: bolder;
}

    .green {
        background-color: #1E8449;
        border: 1px solid #37d93d;
        color: #37d93d;
    }

    .red {
        background-color: #a62c1e;
        border: 1px solid #fc5441;
        color: #fc5441;
    }

    .yellow {
        background-color: #f39c12;
        border: 1px solid #F1C40F;
        color: #F1C40F;
    }