header {
    background-color: #292929 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid #ffa31a;

    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
    -webkit-backdrop-filter: blur(1rem); /* For Safari support */
}

    header > h1 {
        color: #ffa31a;
    }

    header > ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    header > ul > li {
        padding: 0.5rem;
    }